<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ssy.share.admin.mapper.DictConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.ssy.share.admin.entity.DictConfig">
        <id column="pk_id" property="pkId" />
        <result column="dict_number" property="dictNumber" />
        <result column="title" property="title" />
        <result column="value" property="value" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
