<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ssy.share.admin.mapper.ResourceMapper">

    <!-- TODO 资源类型和标签的条件筛选 -->
    <select id="getResourcePage" resultType="top.ssy.share.admin.entity.Resource">
        select tr.pk_id, tr.title, tr.author, tr.res_type, tr.tags, tr.download_url, tr.detail, tr.price, tr.like_num,
        tr.is_top, tr.status, tr.remark, tr.create_time from t_resource
        tr
#         left join t_user tu on tr.author = tu.pk_id
#         left join t_category tc on tc.type = 0 and tc.pk_id = tr.disk_type
        where tr.delete_flag = 0
        <if test="query.title != null and query.title != ''  ">
            and tr.title like concat('%',#{query.title},'%')
        </if>
        <if test="query.diskType != null ">
            and tr.disk_type = #{query.diskType}
        </if>
        <if test="query.isTop != null ">
            and tr.is_top = #{query.isTop}
        </if>
        <if test="query.status != null ">
            and tr.status = #{query.status}
        </if>
        order by tr.create_time desc
    </select>
</mapper>
